body {
	background-color: #4083E8;
	color: #FFFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 85%;
	max-width: 1200px;
	margin: auto;
	margin-top: 9em;
}

div.col {
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

.logo {
	font-weight: 100;
	font-size: 3em;
	margin: 0;
	width: 43%;
}

div.details {
	padding: 2em 0;
}

div.details div{
	margin-bottom: 1.5em;
	line-height: 1.6em;
	font-size: 0.9em;
	text-align: justify;
}

a {
	color: inherit;
	text-decoration: none;
}

footer {
	margin-top: 4.5em;
	margin-bottom: 3em;
	font-size: 0.8em;
}

footer .right{
	float: right;
}

.klaviyo-form strong {
    font-weight: 500 !important;
}

.klaviyo-form label {
	font-weight: 400 !important;
    display: inline;
    vertical-align: super;
}

.klaviyo-form label div.needsclick {
	top: -1px !important;
}

.klaviyo-form label svg {
	margin-right: 4px !important;
}

.klaviyo-form circle {
	fill: transparent;
	stroke-width: 1.5px;
	stroke: #FFFFFF;
	r: 8.5;
}

.klaviyo-form g#radioInner circle {
	fill: #FFFFFF;
	r: 4.5;
}

.klaviyo-form input.needsclick {
	border-radius: 10px !important;
}

.klaviyo-form div.needsclick button.needsclick {
	top: -53px;
}