body {
	background-color: #4083E8;
	color: #FFFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 85%;
	max-width: 1200px;
	margin: auto;
	margin-top: 9em;
}

div.col {
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

.logo {
	font-weight: 100;
	font-size: 3em;
	margin: 0;
	width: 43%;
}

div.details {
	padding: 2em 0;
}

div.details div{
	margin-bottom: 1.5em;
	line-height: 1.6em;
	font-size: 0.9em;
	text-align: justify;
}

a {
	color: inherit;
	text-decoration: none;
}

footer {
	margin-top: 8em;
	margin-bottom: 3em;
	font-size: 0.8em;
}

footer .right{
	float: right;
}

.klaviyo-form strong {
    font-weight: 500 !important;
}